/project-spec/configs/config.old
/project-spec/configs/rootfs_config.old
/build/
/images/
/pre-built/
/.petalinux/*
!/.petalinux/metadata
*.o
*.jou
*.log
/project-spec/meta-plnx-generated/
/components/plnx_workspace
/BOOT.BIN

